.card {
  // max-width: 20vw;
  width: 400px;
  height: 525px;
  // margin-top: 10px;
  //margin-left: 10px;
  //margin-right: 5px;
}

.mobile-title {
  height: 85px;
}

.action-bar {
  height: 60px;
}

.card img {
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
  // width:100px;
}

#cardsdiv {
  // display:flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: space-evenly;
  margin-left: 7%;
}

.subtitle {
  color: rgb(148, 148, 148);
}

#loadButton {
  background-color: rgb(47, 218, 180);
}

#navdiv {
  padding-bottom: 150px;
}

#subNav {
  padding-bottom: 200px;
}

// #header-search {
//   padding-left: 40%;
// }
.cardgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.distance-text {
  text-align: center;
  color: grey;
}

.action-bar.center {
  border-top: 0px;
}

#location-box {
  display: block;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}
